.listContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.listWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
 
    gap: 20px;
}

.listSearch{
    flex:1;
    background-color: #E07BE0;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    height: max-content;
}

.listResult{
    flex: 3;
}

.lsTitle{
    font-size: 20px;
    color:white;
    margin-bottom: 10px;
}

.lsItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;

}

.lsItem{
    font-size: 14px;
    
}

.lsItem>input{
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.lsItem>span{
    height: 30px;
    padding: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.lsOptionItem{
    display: flex;
    justify-content: space-between;
    
    margin-bottom:10px ;
    font-size: 14px;
}

.lsOptionInput{
    width: 50px;
}

.lsOptions{
    padding: 10px;
}

.listSearch>button{
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.644);
    cursor: pointer;
}