.featured{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.featuredItem{
    position: relative;
    color:#F6F2FF;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
}

.featuredImg{
    width: 100%;
    object-fit: cover;
}

.featuredTitles{
    position: absolute;
    bottom: 10px;
    left: 20px;
    text-shadow:
    -1px -1px 0 #420039,
    1px -1px 0#420039,
    -1px 1px 0 #420039,
    1px 1px 0 #420039;
}